.site-header
    {
        background-color: #2ce689;
        color:rgb(101, 1, 1);
        height: 100vh;
        font-family: monospace;
        display:flex;
        flex-direction: column;
        justify-content: center;


    }
    .site-header-content
    {
        margin: 10px;
    }
.first-line
    {
        color: rgb(228, 158, 67);
    }
.second-line
    {
        color: rgb(73, 8, 134);
    
    }
    .Third-line
    {
        color: rgb(12, 14, 86);
    }
.profile-pic
    {
        border-radius: 50%;
        max-height: 200px;
        max-width: 200px;
        align-self: center;
    }

body 
    { 
        margin: 0;
       


    }
